.btn-danger {
    color: #fff !important;
    background: #dc3545 !important;
    border-color: #dc3545 !important;
    box-shadow: none;
}
[class*=icheck-]{
    margin-top: 3px !important;
    margin-bottom: 0 !important;
}
.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}
table {
    text-align: center;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-left: 20px;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.select2-container--open {
    z-index: 9999;
}
.searchable-fields {
    padding-left: 5px;
}
.searchable-link {
    padding: 0 5px 0 5px;
}
.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
.form-group,
.form-group .form-control::placeholder {
    text-transform: capitalize;
}
.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.dataTables_length label select {
    width: 65px !important;
    font-size: 15px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

div.dt-button-collection {
    padding: 0;
}

.buttons-columnVisibility {
    display: block;
}

.buttons-columnVisibility.active {
    background-color: rgba(128, 128, 128, 0.1);
    font-weight: bolder;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.content-header {
    margin-bottom: 20px;
}

.has-error .form-label,
.has-error .form-controll,
.has-error .help-block {
    color: #dc3545 !important;
}
.has-error .form-control,
.has-error .note-editor.note-airframe,
.has-error .note-editor.note-frame,
.has-error .select-2 {
    border: 1px solid #dc3545 !important;
}
.has-error .help-block strong {
    font-size: 14px;
}
.has-error .tree {
    border: 1px solid #dc3545 !important;
    padding: 5px;
    border-radius: 5px;
}
.select2-container--default .select2-selection--single {
    height: 38px;
}
.border-radius {
    border-radius: 5px;
}
.content-header {
    text-transform: capitalize;
}
.modal-header {
    text-transform: capitalize;
}
.modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #007bff;
    border: 1px solid #007bff;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #fff;
}
.orders_notification_dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}
.nav-sidebar .nav-header:not(:first-of-type) {
    padding: 10px 0.5rem !important;
}
.option {
    position: relative;
    display: inline-block;
}
.star {
    position: absolute;
    top: -4px;
    right: -18px;
    font-size: 30px;
}

/* start custom input file */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 17px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #ffffff;
    background-color: #f58020;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #fca80e;
}

/* end custom input file */
